<h1 class="text-center">What do we do?</h1>

<div class="flex flex-wrap justify-around mt-4">
    <div *ngFor="let item of [].constructor(5)" class="flex flex-col border border-bahamaBlue shadow-lg rounded-md max-w-xs my-4">
        <img src="https://picsum.photos/200/128" class="rounded-t-md" alt="A random picsum from Lorem Picsum">
        
        <div class="p-2 uppercase tracking-wider text-lg text-raspberryRomantic font-bold">
            Team Elixir
        </div>
        
        <div class="p-2 border-t border-mysticLight flex-auto text-justify">
            Team Elixir is the blood coordination team of Awakers which is working to fulfill various blood requests as and when they are received and also organizes blood camps and awareness programs.
        </div>
        
        <div class="p-2 border-t border-mysticLight italic">
            Completed 35 donations since June 2014
        </div>
    </div>
</div>