<div class="flex mt-4 md:justify-between">
    <div class="hidden md:flex md:w-1/5 justify-center items-center">
        <img src="assets/AwakersLogo.png" class="h-48" alt="Logo of Awakers"/>
    </div>

    <div class="md:w-3/4 text-lg text-justify">
        <h1 class="text-center sm:text-left">Who are we?</h1>
    
        <div class="mt-2">
            Awakers <span class="text-secondary">(Reg. No. 1272/2016)</span> is a non-profit entity with ten years of experience at the grassroots, covering a wide range of issues in the society – Child Sexual Abuse, Blood Donation, Cancer Awareness, Traffic Awareness, Food Support, Shelter Homes Support, Educational Support, Tribal Support, Pregnancy Care Support, Career Guidance, Rescue Support (Natural Calamities). With the help of experts, we are educating our volunteers in detail over each of the issues and topics related to our workings. Once the volunteers have gained the necessary knowledge, they will be split up and would be asked to carry forward the sharing of knowledge.
        </div>
    </div>
</div>

<div class="flex flex-col text-justify">
    <div class="mt-4">
        <h2>Our Mission</h2>
    
        <div class="mt-2">
            To inspire breakthrough among students and public for their development to achieve immediate and lasting change in their lives
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:justify-between">
        <div class="mt-4">
            <h2>Our Vision</h2>
            
            <ul class="mt-2 list-disc list-inside">
                <li>
                    Emphasize and encourage growth of individuals: building safety and trust, compassionate communication, and self-awareness
                </li>
        
                <li>
                    Conduct regular medical camps for the tribals and those in rural places
        
                <li>
                    Spread awareness on child sexual abuse and POCSO act to all teachers, parents and children
                </li>
        
                <li>
                    Conduct traffic awareness sessions every year
                </li>
    
                <li>
                    Find the talents of students through various activities
                </li>
    
                <li>
                    Provide career growth guidance for those who need, so that they could choose their career according to their ambition
                </li>
    
                <li>
                    Supply neccessary items to the needy at the times of natural calamities
                </li>
            </ul>
        </div>

        <div class="mt-4 md:mt-0">
            <a href="https://drive.google.com/file/d/17rCFtizlnvryEmJaGIgKV0NnXS0fwnAa/view?usp=sharing" class="cursor-pointer" target="blank">
                <div class="flex justify-center items-center border-2 rounded-md border-secondary hover:bg-secondary text-secondary hover:text-neutral hover:font-bold hover:tracking-wider px-4 py-2 hover:shadow-xl">
                    <div>Read More About Us</div>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="ml-2 fill-current w-4">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>