<div class="flex mt-4 md:justify-between">
    <div class="md:w-3/5 text-lg text-justify">
        <h1 class="text-center sm:text-left">About Us</h1>
    
        <div class="mt-2">
            Awakers is a non-governmental organization, effectively functioning since 2014 for the betterment of the society, with a lot of aspiring and young volunteers.
        
            Team Awakers is involved in various activities and events which includes, but not limited to, cancer awareness programs, blood donation camps, scribes support, career guidance and flood relief works in the past.
        </div>
    </div>

    <div class="hidden md:flex md:w-2/5 justify-center items-center">
        <img src="assets/AwakersLogo.png" class="h-48" alt="Logo of Awakers"/>
    </div>
</div>

<div class="flex flex-col md:flex-row md:justify-between text-justify">
    <div class="md:w-1/3 mt-4">
        <h2>Our Mission</h2>
    
        <div class="mt-2">
            To achieve a positive transformation in the lifestyle of people residing in rural areas, and to make this world a better place to live, by helping one needy at a time. We are focused on the quality of education, health, talent support, environment, women & children, farmers and other social causes.
        </div>
    </div>

    <div class="md:w-3/5 mt-4">
        <h2>Our Vision</h2>
        
        <ul class="mt-2 list-disc list-inside">
            <li>
                We emphasize and encourage growth of individuals: building safety and trust, compassionate communication, and self-awareness
            </li>
    
            <li>
                We use the most sustainable technology and energy sources available to us
            </li>
    
            <li>
                We foster a sense of community, strive for equality, and ecological responsibility
            </li>
    
            <li>
                We strongly believe that continuous support at various levels will lead to a positive migration of villages towards Digitalization on a large scale, so as to support the Digital India Movement
            </li>
        </ul>
    </div>
</div>