<div class="flex flex-col md:flex-row w-full space-y-4 md:space-x-4 md:space-y-0">
    <div class="h-5/6 p-4 border-2 border-secondary shadow-xl">
        <img src="assets/events/ScreenplayWorkshop.jpeg" alt="Workshop Poster">
    </div>

    <div class="flex flex-col space-y-4 text-justify text-lg">
        <div class="self-center">
            <div class="font-bold text-xl uppercase text-secondary tracking-wide text-center">Online Workshop on Screenplay Writing</div>
        </div>

        <div>
            Get to learn the nuances of screenplay writing from a veteran Tamil script writer, Mr. Pattukkottai Prabakar. This is a golden chance for those who want to excel in screenplay writing. The proceeds of this event will be donated for the education of underprivileged students. Registration closes on 07<sup>th</sup> April 2022!
        </div>

        <a href="https://bit.ly/3uI7EU5" class="self-center" target="blank">
            <button class="border-2 rounded-md border-secondary hover:bg-secondary text-secondary hover:text-neutral hover:font-bold hover:tracking-wider px-4 py-2 hover:shadow-xl">Register Now</button>
        </a>

        <div class="flex flex-col space-y-3">
            <div class="self-center italic">You can pay via any of the below two options</div>

            <div class="flex flex-col md:flex-row md:justify-between md:items-center">
                <div>
                    <div class="font-bold">Google Pay</div>
                    <div>UPI: awakers@ybl</div>
                </div>

                <div class="text-sm italic">or</div>
                
                <div>
                    <div class="font-bold">IMPS / NEFT</div>
                    <div>
                        <div>Account Name: AWAKERS</div>
                        <div>Account Number: 032488700001341</div>
                        <div>IFSC: YESB0000324</div>
                        <div>Bank: YES Bank</div>
                        <div>Account Type: Current</div>
                        <div>Branch: Annanagar, Chennai</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>