<div class="flex justify-center font-semibold tracking-wider text-xl">Job Listings</div>

<div class="flex flex-wrap justify-around mt-6">
    <div *ngFor="let job of jobListings" class="flex flex-col border border-awakersBlue shadow-lg rounded-md max-w-sm my-4;">
        <div class="p-2">
            <div title="Job Title" class="uppercase tracking-wider text-lg text-awakersBlue-shade-30 font-bold">{{job.title}}</div>
            <div title="Company Name" class="text-gray-800">{{job.companyName}}</div>
        </div>
        <div class="p-2 border-t border-awakersBlue-tint-80 flex-auto flex-col">
            <div>Job Location(s): {{job.locations}}</div>
            <div class="mr-1">Experience Required: {{job.experienceRequired | parseExperience}}</div>
        </div>
        <div class="p-2 border-t border-awakersBlue-200">
            <div title="Posted By" class="text-sm">{{job.postedBy}}</div>
            <div title="Posted On" class="text-sm text-gray-600">{{job.postedOn | date : 'dd MMM yyyy - hh:mm:ss a'}}</div>
        </div>
    </div>
</div>